.TrackSlide {
    position: relative;
    width: 100%;
    overflow: hidden;
}
    .TrackSlide ul {
        position: absolute;
        left: 0;
        top: 0;
        height: inherit;
        list-style: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;
    }
        .TrackSlide li {
            display: inline-block;
            vertical-align: top;
            white-space: normal;
        }
